<a href="https://colab.research.google.com/github/uvais-6/Data-Privacy-and-Security/blob/main/E2_DPS__k_Anonymity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LAB-2**

In [ ]:
import pandas as pd
data = {
    'Patient Name': ['John Doe', 'Jane Smith', 'Tom Brown','Emily Davis'],
    'Age': [35, 42, 53, 24],
    'Address': ['Main St', 'Oak Ave', 'Pine Rd', 'Maple Dr']
}
df = pd.DataFrame(data)
print(df)

  Patient Name  Age   Address
0     John Doe   35   Main St
1   Jane Smith   42   Oak Ave
2    Tom Brown   53   Pine Rd
3  Emily Davis   24  Maple Dr

**remove and replace direct identifiers**

In [ ]:
df['Patient Name'] = ['Patient'+str(i+1)for i in range(len(df))]
df['Address'] = ['Removed' for _ in range(len(df))]

**generalize age to age range**

In [ ]:
def age_range(age):
  if 20<=age<=30:
    return '20-30'
  elif 31<=age<=40:
    return '31-40'
  elif 41<=age<=50:
    return '41-50'
  elif 51<=age<=60:
    return '51-60'
  else:
    return 'Other'

df['Age Range'] = df['Age'].apply(age_range)

**drop the original 'age' column to further anonymize the data**

In [ ]:
df = df.drop(columns=['Age'])

In [ ]:
print(df)

  Patient Name  Address Age Range
0     Patient1  Removed     31-40
1     Patient2  Removed     41-50
2     Patient3  Removed     51-60
3     Patient4  Removed     20-30

**COMBINED CODE**

In [ ]:
import pandas as pd
data = {
    'Patient Name': ['John Doe', 'Jane Smith', 'Tom Brown','Emily Davis'],
    'Age': [35, 42, 53, 24],
    'Address': ['Main St', 'Oak Ave', 'Pine Rd', 'Maple Dr']
}
df = pd.DataFrame(data)
print(df)
df['Patient Name'] = ['Patient'+str(i+1)for i in range(len(df))]
df['Address'] = ['Removed' for _ in range(len(df))]
def age_range(age):
  if 20<=age<=30:
    return '20-30'
  elif 31<=age<=40:
    return '31-40'
  elif 41<=age<=50:
    return '41-50'
  elif 51<=age<=60:
    return '51-60'
  else:
    return 'Other'

df['Age Range'] = df['Age'].apply(age_range)
df = df.drop(columns=['Age'])
print(df) # Corrected the indentation by removing the extra spaces

  Patient Name  Age   Address
0     John Doe   35   Main St
1   Jane Smith   42   Oak Ave
2    Tom Brown   53   Pine Rd
3  Emily Davis   24  Maple Dr
  Patient Name  Address Age Range
0     Patient1  Removed     31-40
1     Patient2  Removed     41-50
2     Patient3  Removed     51-60
3     Patient4  Removed     20-30

In [ ]:
import pandas as pd
data = {
    'Patient Name': ['khabib', 'islam', 'usman','umar'],
    'Age': [35, 42, 53, 24],
    'Address': ['Main St', 'Oak Ave', 'Pine Rd', 'Maple Dr']
}
df = pd.DataFrame(data)
print(df)

  Patient Name  Age   Address
0       khabib   35   Main St
1        islam   42   Oak Ave
2        usman   53   Pine Rd
3         umar   24  Maple Dr

In [ ]:
import pandas as pd
data = {
    'Patient Name': ['John Doe', 'Jane Smith', 'Tom Brown','Emily Davis','khabib','islam','usman','umar'],
    'Age': [25, 29, 31, 35, 35, 39, 42, 45],
    'ZipCode': [12345,12345, 12345, 12345, 12345, 12345, 12345, 12345],
    'Disease': ['Flu', 'Cold', 'Cancer', 'Flu', 'Cold', 'Cancer', 'Cold', 'Flu'],
}
df = pd.DataFrame(data)
print(df)

  Patient Name  Age  ZipCode Disease
0     John Doe   25    12345     Flu
1   Jane Smith   29    12345    Cold
2    Tom Brown   31    12345  Cancer
3  Emily Davis   35    12345     Flu
4       khabib   35    12345    Cold
5        islam   39    12345  Cancer
6        usman   42    12345    Cold
7         umar   45    12345     Flu

In [ ]:
import pandas as pd

data = {
    'Patient Name': ['John Doe', 'Jane Smith', 'Tom Brown','Emily Davis','khabib','islam','usman','umar'],
    'Age': [25, 29, 31, 35, 35, 39, 42, 45],
    'ZipCode': [12345, 12345, 12345, 12345, 12345, 12345, 12345, 12345],
    'Disease': ['Flu', 'Cold', 'Cancer', 'Flu', 'Cold', 'Cancer', 'Cold', 'Flu'],
}
df = pd.DataFrame(data)
print("Original Dataset:")
print(df)

print("\nAnonymized Dataset:")
df['Patient Name'] = ['Patient' + str(i + 1) for i in range(len(df))]
df['Address'] = ['Removed' for _ in range(len(df))]
def age_range(age):
    if 20 <= age <= 29:
        return '20-29'
    elif 30 <= age <= 39:
        return '30-39'
    elif 40 <= age <= 49:
        return '40-49'
    elif 50 <= age <= 59:
        return '50-59'
    else:
        return 'Other'

df['Age Range'] = df['Age'].apply(age_range)
df['ZipCode'] = df['ZipCode'].astype(str).str[:3] + 'XX'
df = df.drop(columns=['Age'])
print(df)

Original Dataset:
  Patient Name  Age  ZipCode Disease
0     John Doe   25    12345     Flu
1   Jane Smith   29    12345    Cold
2    Tom Brown   31    12345  Cancer
3  Emily Davis   35    12345     Flu
4       khabib   35    12345    Cold
5        islam   39    12345  Cancer
6        usman   42    12345    Cold
7         umar   45    12345     Flu

Anonymized Dataset:
  Patient Name ZipCode Disease  Address Age Range
0     Patient1   123XX     Flu  Removed     20-29
1     Patient2   123XX    Cold  Removed     20-29
2     Patient3   123XX  Cancer  Removed     30-39
3     Patient4   123XX     Flu  Removed     30-39
4     Patient5   123XX    Cold  Removed     30-39
5     Patient6   123XX  Cancer  Removed     30-39
6     Patient7   123XX    Cold  Removed     40-49
7     Patient8   123XX     Flu  Removed     40-49

In [ ]:
import pandas as pd
from collections import Counter
# Sample dataset
raw_data = pd.DataFrame({
'Age': [25, 26, 27, 27, 28, 29, 30, 30, 31, 31],
'Zipcode': ['12345', '12346', '12345', '12345', '12346', '12346', '12347', '12347', '12348', '12348'],
'Disease': ['Flu', 'Cold', 'Cancer', 'Flu', 'Cold', 'Diabetes', 'Flu', 'Cold', 'Cancer', 'Diabetes']
})
print("Original Dataset:")
print(raw_data)
# Step 1: Apply k-Anonymity (Generalizing Age and Zipcode)
def generalize_age(age):
    # Indented the return statement to be part of the function body
    return f"{(age // 5) * 5}-{((age // 5) * 5) + 4}"
def generalize_zip(zipcode):
    # Indented the return statement to be part of the function body
    return zipcode[2:] + "XX" # Mask last two digits
raw_data['Generalized_Age'] = raw_data['Age'].apply(generalize_age)
raw_data['Generalized_Zipcode'] = raw_data['Zipcode'].apply(generalize_zip)
# Drop original quasi-identifiers
anonymized_data = raw_data.drop(columns=['Age', 'Zipcode'])
print("\nAfter Applying k-Anonymity:")
print(anonymized_data)
# Step 2: Check l-Diversity (at least l diverse sensitive values per group)
def check_l_diversity(df, quasi_identifiers, sensitive_attribute, l):
    grouped = df.groupby(quasi_identifiers)
    for name, group in grouped:
        value_counts = Counter(group[sensitive_attribute])
        if len(value_counts) < l:
            return False
    return True
quasi_identifiers = ['Generalized_Age', 'Generalized_Zipcode']
sensitive_attribute = 'Disease'
l_value = 2 # Ensuring at least 2 different diseases per group
is_l_diverse = check_l_diversity(anonymized_data, quasi_identifiers, sensitive_attribute, l_value)
print("\nDoes the dataset satisfy l-Diversity (l=2)?", is_l_diverse)

Original Dataset:
   Age Zipcode   Disease
0   25   12345       Flu
1   26   12346      Cold
2   27   12345    Cancer
3   27   12345       Flu
4   28   12346      Cold
5   29   12346  Diabetes
6   30   12347       Flu
7   30   12347      Cold
8   31   12348    Cancer
9   31   12348  Diabetes

After Applying k-Anonymity:
    Disease Generalized_Age Generalized_Zipcode
0       Flu           25-29               345XX
1      Cold           25-29               346XX
2    Cancer           25-29               345XX
3       Flu           25-29               345XX
4      Cold           25-29               346XX
5  Diabetes           25-29               346XX
6       Flu           30-34               347XX
7      Cold           30-34               347XX
8    Cancer           30-34               348XX
9  Diabetes           30-34               348XX

Does the dataset satisfy l-Diversity (l=2)? True